<style>
</style>

<h2 class="branded">
    O nama
</h2>

<div>
    Udruga kroničnih bubrežnih bolesnika Zagreb je osnovana 18.08.2021 s ciljem udruživanja pacijenata
    koji su u početnom stadiju kronične bubrežne bolesti, peritonijske ili hemodijelaize, te
    transplantacije.
</div>

<div>
    Zapisnik sa sjednice Upravnog odbora UDRUGE KRONIČNIH BUBREŽNIH BOLESNIKA Zagrenb.
</div>
<div>
    Sjednica Upravnog odbora UDRUGE KRONIČNIH BUBREŽNIH BOLESNIKA održana je dana 20
    srpnja.2021 u Samoboru, Voćarska 7. Na sjednici su prisutni svi članovi Upravnog odbora izabrani na
    osnivačkoj skupštini Društva održanoj 20.srpnja 2021.
</div>
<div>
    Članovi osnivačke skupštine:

    <ol>
        <li>Martina Herceg</li>
        <li>Stjepan Pereković</li>
        <li>Lana Poljak</li>
        <li>Ivan Kralj</li>
        <li>Valentina Dianežević</li>
    </ol>
</div>
<div>
    Utvrđuje se dnevni red:
    <ol>
        <li>Izbor Predsjednika Društva</li>
        <li>Izbor Dopredsjednika Društva</li>
        <li>Izbor Tajnika Društva</li>
        <li>Odluka o poslovnoj adresi Društva</li>
    </ol>
</div>
<div>
    Utvrđuje se da su jednoglasno predložene i donesene sljedeće odluke:

    <ul>
        <li>
            <p>
                Ad.1. Za Predsjednika Društva izabire se Martina Herceg, OIB:45771138602. Izabrani Predsjednik
                Društva je ujedno i Predsjednik Upravnog odbora i Predsjednik Skupštine sukladno Statutu Društva.
            </p>
        </li>
        <li>
            <p>
                Ad.2. Za Dopredsjednike Društva izabire se: Stjepan Pereković, OIB: 88069130744.
            </p>
        </li>
        <li>
            <p>
                Ad.3. Za Tajnika Društva izabire se: Lana Poljak, OIB:41008595359.
            </p>
        </li>
        <li>
            <p>
                Ad.4 .Poslovna adresa Društva u sjedištu Društva u Samoboru je Voćarska 7.
            </p>
        </li>
    </ul>
</div>
<div>
    Udruga promovira zdrav način života unatoč specifičnim problemima sa kojima se susreću kronični
    bubrežni bolesnici.
</div>

<div class="table-block">
    <table>
        <tr>
            <td>OIB:</td>
            <td>53272771004</td>
        </tr>
        <tr>
            <td>IBAN:</td>
            <td>HR6524030091121004998</td>
        </tr>
        <tr class="blank_row">
            <td></td>
        </tr>
        <tr>
            <td>Mobitel:</td>
            <td><a href="tel:+385951996628">095-199-6628</a></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><a href="mailto:UdrugaKBBZ@gmail.com">UdrugaKBBZ@gmail.com</a></td>
        </tr>
        <tr class="blank_row">
            <td></td>
        </tr>
        <tr>
            <td rowspan="4">Radno vrijeme:</td>
        </tr>
        <tr>
            <td>Ponedjeljak - Subota</td>
        </tr>
        <tr>
            <td>08 do 12</td>
        </tr>
        <tr>
            <td>14 do 18</td>
        </tr>
        <tr class="blank_row">
            <td></td>
        </tr>
        <tr>
            <td>Adresa:</td>
            <td>Voćarska 7, Samobor 10430</td>
        </tr>
    </table>
</div>

<div class="table-block">
    <table>
        <tr>
            <td>Aktivnosti:</td>
        </tr>
        <tr>
            <td>Edukacije, Predavanja, Sportske aktivnosti</td>
        </tr>
        <tr>
            <td>Informirajte se</td>
        </tr>
        <tr>
            <td>Članci, Tjedna događanja</td>
        </tr>
        <tr>
            <td>Postavite nam pitanje stručnim osobama</td>
        </tr>
    </table>
</div>

