
<style>
    .info-block {
        margin: 2rem auto;
        max-width: 700px;
        min-width: 400px;
    }
    @@media only screen and (max-width:450px){
        .info-block{
            min-width: 300px;
        }
    }

    .txt-center {
        text-align: center;
    }

    .td-vertical-middle {
        vertical-align: middle !important;
    }
</style>

<div class="info-block w-100 text-center">
    <h3 class="branded-inverted">O Nama</h3>
</div>

<div class="info-block w-100">
    
    <p>
        Udruga kroničnih bubrežnih bolesnika Zagreb je osnovana 18.08.2021 s ciljem udruživanja pacijenata
        koji su u početnom stadiju kronične bubrežne bolesti, peritonijske ili hemodijelaize, te
        transplantacije.
    </p>

    <p>
        Udruga promovira zdrav način života unatoč specifičnim problemima sa kojima se susreću kronični
        bubrežni bolesnici.
    </p>

    <p>
        Zapisnik sa sjednice Upravnog odbora UDRUGE KRONIČNIH BUBREŽNIH BOLESNIKA Zagrenb.
    </p>
    <p>
        Sjednica Upravnog odbora UDRUGE KRONIČNIH BUBREŽNIH BOLESNIKA održana je dana 20
        srpnja.2021 u Samoboru, Voćarska 7. Na sjednici su prisutni svi članovi Upravnog odbora izabrani na
        osnivačkoj skupštini Društva održanoj 20.srpnja 2021.
    </p>
</div>

<div class="info-block w-50">
    <table class="table table-striped">
        <tr>
            <td>Naše Aktivnosti</td>
        </tr>
        <tr>
            <td>Edukacije, Predavanja, Sportske aktivnosti</td>
        </tr>
        <tr>
            <td>
                Informirajte se
                <a class="btn btn-success" href="Edukacija">Edukacije</a>
            </td>
        </tr>
        <tr>
            <td>Članci i tjedna događanja</td>
        </tr>
        <tr>
            <td>Postavite pitanje stručnim osobama</td>
        </tr>
    </table>
</div>

<div class="info-block w-25">
    <table class="table table-bordered">
        <thead>
            <tr><th class="txt-center">Članovi osnivačke skupštine</th></tr>
        </thead>
        <tbody>
            <tr><td>Martina Herceg</td></tr>
            <tr><td>Stjepan Pereković</td></tr>
            <tr><td>Lana Poljak</td></tr>
            <tr><td>Ivan Kralj</td></tr>
            <tr><td>Valentina Dianežević</td></tr>
        </tbody>
    </table>
</div>

<div class="info-block w-25">
    <table class="table table-bordered">
        <thead>
            <tr><th class="txt-center">Utvrđuje se dnevni red</th></tr>
        </thead>
        <tbody>
            <tr><td>Izbor Predsjednika Društva</td></tr>
            <tr><td>Izbor Dopredsjednika Društva</td></tr>
            <tr><td>Izbor Tajnika Društva</td></tr>
            <tr><td>Odluka o poslovnoj adresi Društva</td></tr>
        </tbody>
    </table>
</div>

<div class="info-block w-100">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="txt-center"><strong>Utvrđuje se da su jednoglasno predložene i donesene sljedeće odluke:</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <strong>Ad.1.</strong> Za Predsjednika Društva izabire se Martina Herceg, OIB:45771138602. Izabrani Predsjednik
                    Društva je ujedno i Predsjednik Upravnog odbora i Predsjednik Skupštine sukladno Statutu Društva.
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Ad.2.</strong> Za Dopredsjednike Društva izabire se: Stjepan Pereković, OIB: 88069130744.
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Ad.3.</strong> Za Tajnika Društva izabire se: Lana Poljak, OIB:41008595359.
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Ad.4.</strong> Poslovna adresa Društva u sjedištu Društva u Samoboru je Voćarska 7.
                </td>
            </tr>
        </tbody>
    </table>
</div>

<BasicInfoBlock  
                OIB="53272771004"
                IBAN="HR6524030091121004998"
                Telephone="+385951996628"
                TelephoneFormated="095/199-6628"
                Email="UdrugaKBBZ@gmail.com"
                WorkDays="Pon - Sub"
                WorkHours1="08-12"
                WorkHours2="14-18"
                Adress="Voćarska 7, Samobor 10430"
                />

