<div class="info-block">
    <table class="table table-bordered w-100">
        <tr>
            <td><strong>OIB</strong></td>
            <td>53272771004</td>
            <td><strong>Mobitel</strong></td>
            <td><a href="tel:+385951996628">095-199-6628</a></td>
        </tr>
        <tr>
            <td><strong>IBAN</strong></td>
            <td>HR6524030091121004998</td>
            <td><strong>E-mail</strong></td>
            <td><a href="mailto:UdrugaKBBZ@gmail.com">UdrugaKBBZ@gmail.com</a></td>
        </tr>
        <tr>
            <td class="txt-center" colspan="4"><strong>Radno vrijeme</strong></td>
        </tr>
        <tr>
            <td class="txt-center td-vertical-middle" rowspan="2" colspan="2">Ponedjeljak - Subota</td>
            <td class="txt-center" colspan="2">08 do 12</td>
        </tr>
        <tr>
            <td class="txt-center" colspan="2">14 do 18</td>
        </tr>
        <tr></tr>
        <tr class="txt-center">
            <td colspan="2"><strong>Adresa</strong></td>
            <td colspan="2">Voćarska 7, Samobor 10430</td>
        </tr>
    </table>
</div>



