<div style="display:inline-block;">
    @if (IsClosed)
    {
        <span class="oi oi-caret-bottom"></span>
    }
    else
    {
        <span class="oi oi-caret-top"></span>
    }
</div>

@code {
    private bool _isClosed = false;
    [Parameter]
    public bool IsClosed
    {
        get { return _isClosed; }
        set { _isClosed = (value.GetType() == typeof(bool)) ? value : false; }
    }
}
