@page "/"
@inject HttpClient Http

@code{
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}

<style>
    .title {
        padding: 6rem 0;
        margin-bottom: 5rem;
        font-weight: bold;
        text-align: center;
        font-weight: 900;
        font-size: 4rem;
        background: #cfafba;
        text-transform: uppercase;
    }

    .branded {
        color: #8585ff;
        text-shadow: rgb(0, 0, 0) 2px 2px 3px;
    }

    .bg-interchanged {
        background: #cfafba;
        color: white;
        text-align: center;
        line-height: 1.5rem;
    }

    .paragraph-block {
        text-align: center;
        margin: 2rem 0;
    }

    .list-block {
        text-align: left;
        margin: 2rem 0;
        display:flex;
        justify-content:center;
        font-size:0.8rem;
    }

    .table-block {
        text-align: left;
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        border-collapse: separate;
        border-spacing: 10px;
    }

    td {
        padding: 5px;
    }

    .defualt-font {
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1rem;
    }

    .max-w {
        max-width: 900px;
    }

    .centered {
        margin: 0 auto;
    }


    ul {
        list-style-type: none;
    }

    .blank_row {
        height: 10px !important; /* overwrites any other rules */
        background-color: #FFFFFF;
    }
</style>

<div class="branded title">
    <span>
        Udruga Kroničnih bubrežnih bolesnika
    </span>
</div>

<div class="container-fluid defualt-font">

    <div class="row mt-5 mb-5 max-w centered">

        <div class="col-md-6 text-center">
            <img src="/Resources/Images/logo.svg" width="40%" />
        </div>

        <div class="col-md-6 mx-auto text-center d-flex align-items-center">
            <h2 class="branded">
                Djelujmo zajedno, učimo o sebi, pomažimo drugima.
            </h2>
        </div>

    </div>



    <div class="row p-5 mt-auto bg-interchanged justify-content-center">

        <div class="col max-w text-center">

            <h4 class="branded">
                Naučimo živjeti bolje uz dijalizu:
            </h4>

            <ul class="text-center">
                <li>
                    Kako konzumirati ukusnu hranu i ne ugroziti sebe
                </li>
                <li>
                    Mogu piti kada želim (no NE koliko želim)
                </li>
                <li>
                    Mogu se osjećati sretnije
                </li>
                <li>
                    Kako biti „fit“ i vježbati kvalitetno
                </li>
                <li>
                    Želim očuvati svoju fistulu / kateter
                </li>
                <li>
                    Kvaliteta života mi je važna
                </li>
            </ul>
        </div>
    </div>

    <div class="row p-5 mt-auto justify-content-center">

        <div class="col max-w text-center">

            <h4 class="branded">
                Obrasci
            </h4>
            <ul class="text-center">
                <li>
                    <a href="/Resources/PDF/Tiskanica_br_1_3.pdf">
                        Zahtjev za priznanje prava na naknadu zbog tjelesnog oštećenja
                    </a>
                </li>
                <li>
                    <a href="/Resources/PDF/Tiskanica_zahtjeva_br_1_2.pdf">
                        Zahtjev za priznavanje prava na invalidsku mirovinu / ocjenu radne sposobnosti ili privremenu invalidsku mirovinu
                    </a>
                </li>
                <li>
                    <a href="https://www.mirovinsko.hr/hr/tiskanice/482" target="_blank">Tiskanice</a>
                </li>
                <li>
                    <a href="https://www.hsuir.hr/vijesti/novi-obrazac-lijecnicke-svjedodzbe-za-ostvarivanje-povlastica-na-hrt-pretplatu" target="_blank">Obrazac za ostvarivanje prava na HRT pretplatu</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row p-5 mt-auto bg-interchanged justify-content-center">

        <div class="col max-w text-center">
            <h4 class="branded">
                Povlastice
            </h4>
            <p>
                Pogledajte povlstice koje pružamo:
            </p>
            <p>
                <a class="btn btn-success" href="Povlastice">Povlastice</a>
            </p>
        </div>
    </div>
    <CloudSurf.Components.About/>
    
</div>