@page "/"
@inject HttpClient Http

@code{
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}

<style>
    .title-block {
        min-height: 300px;
    }

    .branded {
        text-shadow: black 2px 2px 3px;
    }

    .branded-inverted {
        text-shadow: white 2px 2px 3px;
    }

    .bg-normal {
        background: #9CC3D5FF;
        color: white;
    }

    .bg-inverted {
        background: #0063B2FF;
        color: white;
        text-align: center;
        line-height: 1.5rem;
    }

    .paragraph-block {
        text-align: center;
        margin: 2rem 0;
    }

    .list-block {
        text-align: left;
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
    }

    .table-block {
        text-align: left;
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        border-collapse: separate;
        border-spacing: 10px;
    }

    td {
        padding: 5px;
    }

    .defualt-font {
        font-family: "Arial", Gadget, sans-serif;
        font-size: 1rem;
    }
    .text-color{
        color:white !important;
    }

    .max-w {
        max-width: 900px;
    }

    .centered {
        margin: 0 auto;
    }


    ul {
        list-style-type: none;
    }

    .blank_row {
        height: 10px !important; /* overwrites any other rules */
        background-color: #FFFFFF;
    }
</style>

<div class="container-fluid defualt-font">

    <div class="row p-5 bg-inverted text-center justify-content-center align-items-center title-block">
        <h1 class="branded">Udruga Kroničnih Bubrežnih Bolesnika</h1>
    </div>

    <div class="row p-5 bg-normal">
        <div class="row max-w centered">
            <div class="col-md-6 text-center">
                <img src="/Resources/Images/logo.svg" width="40%" />
            </div>

            <div class="col-md-6 mx-auto text-center d-flex align-items-center">
                <h2 class="branded">
                    Djelujmo zajedno, učimo o sebi, pomažimo drugima.
                </h2>
            </div>
        </div>
    </div>

    <div class="row p-5 mt-auto bg-inverted justify-content-center">
        <div class="col max-w text-center">
            <table class="table table-borderless">
                <thead class="text-color">
                    <tr><td><h4 class="branded">Naučimo živjeti bolje uz dijalizu:</h4></td></tr>
                </thead>
                <tbody class="text-color">
                    <tr><td>Kako konzumirati ukusnu hranu i ne ugroziti sebe</td></tr>
                    <tr><td>Mogu piti kada želim (no NE koliko želim)</td></tr>
                    <tr><td>Mogu se osjećati sretnije</td></tr>
                    <tr><td>Kako biti „fit“ i vježbati kvalitetno</td></tr>
                    <tr><td>Želim očuvati svoju fistulu / kateter</td></tr>
                    <tr><td>Kvaliteta života mi je važna</td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row p-5 mt-auto bg-normal justify-content-center">
        <div class="col max-w text-center">
            <table class="table table-borderless">
                <thead class="text-color">
                    <tr><th><h4 class="branded">Obrasci</h4></th></tr>
                </thead>
                <tbody class="text-color">
                    <tr><td><a href="/Resources/PDF/Tiskanica_br_1_3.pdf">Zahtjev za priznanje prava na naknadu zbog tjelesnog oštećenja</a></td></tr>
                    <tr><td><a href="/Resources/PDF/Tiskanica_br_1_3.pdf">Zahtjev za priznanje prava na naknadu zbog tjelesnog oštećenja</a></td></tr>
                    <tr><td><a href="/Resources/PDF/Tiskanica_zahtjeva_br_1_2.pdf">Zahtjev za priznavanje prava na invalidsku mirovinu / ocjenu radne sposobnosti ili privremenu invalidsku mirovinu</a></td></tr>
                    <tr><td><a href="https://www.mirovinsko.hr/hr/tiskanice/482" target="_blank">Tiskanice</a></td></tr>
                    <tr><td><a href="https://www.hsuir.hr/vijesti/novi-obrazac-lijecnicke-svjedodzbe-za-ostvarivanje-povlastica-na-hrt-pretplatu" target="_blank">Obrazac za ostvarivanje prava na HRT pretplatu</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row p-5 mt-auto bg-inverted justify-content-center">

        <div class="col max-w text-center">
            <h4 class="branded">
                Povlastice
            </h4>
            <p>
                Pogledajte povlstice koje pružamo:
            </p>
            <p>
                <a class="btn btn-success" href="Povlastice">Povlastice</a>
            </p>
        </div>
    </div>

    <div class="row p-5 bg-normal" style="color:black">
        <CloudSurf.Components.About />
    </div>

</div>