@page "/"

<div class="row justify-content-center align-content-center">
    <div class="col-md-6">
        <img src="/Resources/Images/logo.svg" width="50%"/>
    </div>
    <div class="col-md-6">
        <span>Udruga kroničnih bubrežnih bolesnika</span>
    </div>
</div>
<h1>Home</h1> 

<style>
    .logo-sm {
        background: url(logo.svg);
        background-size: 100% 100%;
        margin: 0 auto;
        box-sizing: border-box;
        display: block;
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
    }
</style>