@page "/Statut"

@*<a href="./Resources/PDF/StatutUdrugeKronicnihBubreznihBolesnikaKBCRebro.pdf">Statut udruge</a>*@
<iframe src="./Resources/PDF/StatutUdrugeKronicnihBubreznihBolesnikaKBCRebro.pdf" width="100%" height="1080" />|

@code {

}
