<div class="navigation-toolbar">

    <div class="nav-section-wrapper">
        <div class="nav-section">
            <a href=""> 
                <img src="/Resources/Images/logo.svg" width="50px" />
            </a>
        </div>
        <div class="nav-section toggler">
            <button class="toggler-btn-wrapper" @onclick="ToggleNavMenu">
                <i class="oi oi-menu" style="color:white;"></i>
            </button>
        </div>
    </div>

    <div class="nav-section-wrapper nav-grid @NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav-list">
            <li>
                <NavLink class="" href="">
                    <span class="oi oi-home" aria-hidden="true"></span> Početna
                </NavLink>
            </li>
            <li>
                <NavLink class="" href="Povlastice">
                    <span class="oi oi-plus" aria-hidden="true"></span> Povlastice
                </NavLink>
            </li>
            <li>
                <NavLink target="_blank"  class="" href="/Resources/PDF/StatutUdrugeKronicnihBubreznihBolesnikaKBCRebro.pdf">
                    <span class="oi oi-plus" aria-hidden="true"></span> Statut Udruge
                </NavLink>
            </li>
        </ul>
    </div>

</div>

<style>
    .logo-sm {
        background: url(../);
        background-size: 100% 100%;
        margin: 0 auto;
        box-sizing: border-box;
        display: block;
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
    }
</style>



@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
